.navbar {
    background-color: black;
}

.logo {
    width: 90px;
    margin: 10px;
}
body {
    background-color: black;
}

ul {
    background-color:  black;
}


li {
    background-color: black;
}